<h1>
  {{title}}
</h1>
<!--<div>-->
  <!--<label>name: </label>-->
  <!--<input [(ngModel)]="user.name" placeholder="name">-->
<!--</div>-->
<!--<h2>{{user.name}} details!</h2>-->
<!--<h2>{{user2.name}} details!</h2>-->

<ul class="users">
  <li *ngFor="let user of users" [class.selected]="user === selectedUser" (click)="onSelect(user)">
    <span class="badge">{{user.id}}</span> {{user.name}}
  </li>
</ul>

<div *ngIf="selectedUser">
  <h2>{{selectedUser.name}} details!</h2>
  <div><label>id: </label>{{selectedUser.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="selectedUser.name" placeholder="name"/>
  </div>
</div>
